<h1>Burgers</h1>

<h2>Eat 'em...</h2>

<ul>
    {{#each burger}}
    {{#unless devoured}}
    <li>
        <p>{{this.id}}. {{this.burger_name}}</p>
        <button class="devour" data-id="{{this.id}}">Devour</button>
    </li>
    {{/unless}}
    {{/each}}
</ul>
<hr>
<ul>
    {{#each burger}}
    {{#if devoured}}
    <li>
        <p>{{this.id}}. {{this.burger_name}}</p>
    </li>
    {{/if}}
    {{/each}}
</ul>

<h2>Add a burger</h2>

<form>
    <div class="form-group">
        <label for="form-input">Type of Burger:</label>
        <input type="text" id="form-input">
    </div>

    <button id="post-form" type="submit">Submit</button>
</form>