<div id="main">
    <h1 id="heading">Chug Yer Potions</h1>

    <div id="container-left">
        <ul>
            {{#each potion}}
            {{#unless devoured}}
            <li>
                <p>{{this.id}}. {{this.potion_name}}
                    <button class="devour" data-id="{{this.id}}">Chug it!</button>
                </p>

            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div id="container-right">
        <ul>
            {{#each potion}}
            {{#if devoured}}
            <li>
                <p>{{this.id}}. {{this.potion_name}}</p>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>

    <div id="summon-form">
        <h2>Summon a potion:</h2>
        <form>
            <div class="form-group">
                {{!-- <label for="form-input"></label> --}}
                <input type="text" id="form-input">
            </div>

            <button id="post-form" type="submit">Summon</button>
        </form>
    </div>

</div>